

div{
        text-align: center;
    color: black;
    margin: 50px 150px;
}

.box1{
    border: 5px solid blue;
}
.box2{
    outline: 5px solid red;
}
.box3{
    border: 5px solid blue;
outline: 5px dashed red;
}
.box4{
    border: 5px solid green;
  outline-offset: 50px;
    outline: 5px solid yellow;
}