.box{
  background-color: azure;
border: 5px solid green;
font-size: 15px;
color: black;
overflow: scroll;
width: 50%;
padding: 20px auto;
text-align: center;

}

img{
     width: 100%;
     height: auto;
     display: block;
}
h1{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(10, 62, 10);
}